<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-black rounded box-shadow">
            <img class="mr-3" src="https://www.rbcrewards.com/camp/apple/_assets-custom/images/redeem_icon_2.png" alt="" width="48" height="48">
            <div class="lh-100">
              <h6 class="mb-0 text-white lh-100">Credit</h6>
              <small>R0.00 - Apply now</small>
            </div>
  </div>
