<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-black rounded box-shadow">
  <%=image_tag('points.png', class:'mr-3',  width:"48", height:"48")%>
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Points</h6>
    <small>200 pts</small>
  </div>
</div>
